@mixin button($selector, $defaultSkin:true) {

	#{$selector} {
		padding: 10px 20px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	#{$selector}:hover {
    cursor: pointer;
  }

	@if $defaultSkin != false {
    @include button-skin-default($selector);
  }
}

@mixin button-skin-default($selector) {

  #{$selector} {
		color: #333;
		border: 1px solid #333;
		font-weight: bold;
		background: transparent;
		border-radius: 3px;
		font-size: 1.2em;
  }


  #{$selector}:hover {
    background: #2DC7FF;
    border: 1px solid #2DC7FF;
    color: white;
  }

}