@include button(".isotope-filter--button");

.isotope-filter {
	width: 100%;
	margin-bottom: 20px;

	&__inner {
	
	}

	&__list {
		margin: 0;
		padding: 0;
	}

	&__list--item {
		display: inline-block;
		margin: 0;
	}
}