@include button(".isotope-filter--button");

.isotope-filter {
	width: 100%;
	margin-bottom: 20px;

	&__inner {
	
	}

	&__list {
		margin: 0;
		padding: 0;
	}

	&__list--item {
		display: inline-block;
		margin: 0;
	}
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}